data/
.idea/
.venv/
notebooks/.ipynb_checkpoints
notebooks/Macbook-Compatibility.ipynb
misc.reddit_logger
*.logger
reddit.logger
dask-worker-space/
*.xlsx
*.xls
*.csv
*.json
*.txt
__pycache__/
logs/
*.log
*.png
docker-compose-old.yml